:root {
    --main-text-color: #555;
    --main-bg-color: #fff;
    --accent-color: #ff523b;
    --hover-color: #563434;
    --slate-gray: #8a8a8a;
    --smoth-pink: #ffd6d6;
  }
  /* *::selection {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav {
    flex: 1;
    text-align: left;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
    color: var(--main-text-color);
    ;
  }
  p {
    color: var(--main-text-color);
  }
  .navbar a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 600;
  }
  .navbar a:hover {
    color: var(--accent-color);
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
    /* top and bottom 50 left and right 0 */
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: var(--accent-color);
    color: var(--main-bg-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition: background 0.5s;
  }
  .btn:hover {
    background-color: var(--hover-color);
    /* Green */
    color: var(--main-bg-color);
  }
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  .header .row {
    margin-top: 20px;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .col-4 {
    padding: px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img {
    width: 100%;
    border-radius: 10px;
  }
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: var(--main-text-color);
  }
  .title::after {
    content: "";
    background: var(--accent-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  h4 {
    color: var(--main-text-color);
    font-weight: normal;
  }
  .col-4 p {
    font-size: 14px;
  }
  .rating .fa {
    color: var(--accent-color);
  }
  /* .col-4:hover {
    transform: translateY(-5px);
  } */
  .col-2 .offer-img {
    padding: 50px;
  }
  small {
    color: var(--main-text-color);
  }
  /* -----Testimonial----- */
  .testimonial {
    padding-top: 10px;
  }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    margin-top: -200px;
    border-radius: 50%;
  }
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  .fa.fa-quote-left {
    font-size: 34px;
    color: var(--accent-color);
  }
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: var(--main-text-color);
    font-size: 16px;
  }
  /* footer */
  .footer {
    background: #1a1b2f;
    color: var(--slate-gray);
    font-size: 14px;
    /* padding: 60px 0 20px; */
    width: 1040px;

  }
  .footer p {
    color: var(--slate-gray);
  }
  .footer h3 {
    color: var(--main-bg-color);
    margin-bottom: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1 {
    flex-basis: 30px;
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    /* margin: 20px 0; */
  }
  .copyright {
    text-align: center;
  }
  .menu-icon {
    width: 28px;
    display: none;
  }
  /* Media Quer for menu */
  @media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      /* margin-right: 50px; */
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: var(--main-bg-color);
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
.page-btn span:hover {
    background: var(--accent-color);
    color: var(--main-bg-color);
  }

#logo{
  background-size: cover;
}